.game-container .inner {
    position: absolute;
    padding: 0;
    background-color: #fff;
}

.game{
    height: 100%;
    width: 100%;
    position: relative;
}

.game > canvas {
    position: absolute;
}

.game .board-canvas {
    z-index: 1;
    background: #fff;
    width: 100%;
    height: 100%;
    border-radius: 17px;
}



.game .interaction-canvas {
    z-index: 2;
    width: 100%;
    height: 100%;
    border-radius: 17px;
}
.game .wall-canvas {
    z-index: 3;
    width: 100%;
    height: 100%;
    border-radius: 17px;
}

.game .game-canvas {
    z-index: 4;
    width: 100%;
    height: 100%;
    border-radius: 17px;
}
