@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins', Helvetica, sans-serif;
}

/*  
================================== 
========= PAGE STRUCTURE ========= 
==================================  
*/

/* --- Containers --- */
.content {
    background-image: url("../../img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: auto;
}

.inner {
    position: absolute;
    height: 100vh; 

    max-width: 1600px;
    max-height: 800px;
    width: 100%;
    border-radius: 42px;
    padding: 2rem;

    background: rgba(255, 255, 255, 0.56);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.7);
}

.wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}


/* --- Header --- */
.title-header {
    flex: 0 0 300px;
    min-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
  

h1.vertical-title {
    transform: rotate(-90deg);
    white-space: nowrap;

    color: #2B2B2B;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3rem;
}

/* --- ClipArt --- */
.clipart::before {
    content: '';
    display: block;
    border-radius: 50%;
    border: 17px solid rgba(255, 255, 255, .5);
    border-bottom-color: rgba(0, 255, 26, .4);
    width: 300px;
    height: 300px;
    position: absolute;
    animation: loader 2s ease-in infinite;
    box-shadow: inset 0 -20px 70px rgba(255, 255, 255, 0.4);
}

.clipart > img {
    z-index: 13;
}

.clipart{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-right: 13rem;
}

@keyframes loader {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/*  
================================== 
========= MAIN MENU PAGE ========= 
==================================  
*/

/* --- Nav Menu --- */
.main-nav {
    flex: 1;
    z-index: 2;
}

.main-nav > ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-nav > ul > li > a {
    border: thin solid #000;
    display: inline-block;
    min-width: 200px;
    padding: 1rem;
    border-radius: 7px;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
    transition: opacity .4s linear;

}

.main-nav > ul > li:first-child > a{
    border: thin solid #000;
    color: #fff;
    background-color: #2A2A2A;
}

.main-nav > ul > li > a:hover {
    opacity: .7;
    transition: opacity .1s linear;

}


@media screen and (max-width: 1300px) {
    .wrapper {
        flex-direction: column;
        justify-content: center;  
        gap: 3rem;
    }

    .title-header {
        flex-basis: 0;
    }

    h1.vertical-title {
        transform: none;
    }

    .main-nav {
        flex: 0;
    }

    .clipart {
        display: none;
    }
    
}

@media screen and (max-width: 800px) {
    h1.vertical-title {
        font-size: 1.7rem;
    }
}




.context-window.hidden {
    display: none;
}

.context-window {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 13;
}

