* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

button {
    cursor: pointer;
}

button:focus {
    outline: none;
}