.context-window.hidden {
    display: none;
}

.context-window {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 13;
}
.context-menu > li {
    cursor: pointer;
}

.context-menu > li > a {
    color: #fff;
    font-weight: 500;
    font-size: .9rem;
    display: block;
    padding: 1rem;
    border-radius: 7px;
    background-color: rgb(41, 41, 41);
    transition: background-color .1s linear;
}

.context-menu > li:hover > a {
    background-color: rgb(104, 104, 104);
}

.context-content > h1 {
    color: #fff
}

.context-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
}

.context-content {
    background-color: rgba(0, 0, 0, .9);
    padding: 1.5rem;
    border-radius: 13px;
}